#productPage {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#productPage h1 {
    color: black;
    margin-top: 100px;

}

#products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    column-gap: 20px;
    row-gap: 50px;
    margin: 4vh 8vw 4vh;
}

.productCard {
    display: flex;
    flex-direction: column;
    width: 190px;
    margin: auto;
}

.cardText {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.productPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.productCard img {
    height: 190px;
    width: 190px;
}

.productCard h3 {
    text-align: left;
    height: 18px;
    font-weight: 200;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.productContainer {
    margin-top: 14vh;
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    justify-content: center;
    gap: 20vw;
    text-align: left;
}

.productContainer img {
    align-self: center;
    width: 400px;
    height: 400px;
}


.productCheckout {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100px;
}

.quantity {
    display: flex;
}

.quantity input {
    width: 80px;
    text-align: center;
}

.quantity button {
   padding: 15px;
}

@media (max-width : 950px){
    .productContainer {
        flex-direction: column;
        gap: 10vh;
    }

    .productContainer img {
        width: 350px;
        height: 350px;
    }
}

