#shoppingCart {
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 9999;
    background-color: white;
    top:0;
    right: 0;
    bottom: 0;
    width: 18vw;
    min-width: 400px;
    border-left: 1px solid black;
}

#cartHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    border-bottom: 1px solid rgb(151, 151, 151);
}

#cartHeader h1 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
}



#cartHeader button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

#cartItems {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: scroll;
}

.cartItem {
    display: flex;
}

.cartItem img {
    width: 120px;
    height: 120px;
    padding: 25px;
}

.cartItemInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    width: 200px;
}

.cartItemInfo h2 {
    margin: 0;
    font-size: 1.2rem;
}

.cartQuantity {
    display: flex;
    border: 1px solid black;
}

.cartQuantity input {
    width: 50px;
    border: none;
    text-align: center;
}

.cartQuantity button {
    padding: 10px;
    border: none;
}

#cartCheckout {
    margin-top: auto;
    padding: 20px 40px 40px;
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgb(151, 151, 151);
}

#checkoutBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    color: white;
    font-size: 1rem;
    border: none;
    height: 50px;
    width: 100%;
    background-color: black;
}


